<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body class="">
    <div class="not-found-page container-fluid mt-5">
      <h2 class="text-center">
        La página que buscas, no existe
      </h2>

      <div class="row">
        <div class="col text-center">
          <p>Esta página no existe. ¿Qué haces aquí?</p>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <%= image_tag("not_found.jpg", class: "img-fluid w-25") %>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <p>Aquí tienes unos enlaces útiles:</p>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.sanarcancer.org/" target="_blank" rel="noopener noreferrer">Fundación Sanar</a>
            </li>

            <li>
              <a href="https://www.fundaciontepa.org/" target="_blank" rel="noopener noreferrer">Fundación Tepa</a>
            </li>

            <li>
              <a href="https://hemolifeamerica.org/" target="_blank" rel="noopener noreferrer">Fundación Nacional Banco de Sangre</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </body>
</html>
